
body {
  background: #222;
  background-color: #222; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal blockquote {
    width: 80%;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: circle;
}
